<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<h1>Create new User</h1>

<form method="POST" th:action="@{/adduser}" th:object="${adduser}">
    <h4>Create new User</h4>


    <a>User</a>
    <input type="text" th:field="*{username}"/>
    <a>Password</a>
    <input type="text" th:field="*{password}"/>

    <button type="submit" th:name="Wyslij"/>

    <button>Submit</button>

</form>

</body>
</html>