<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Song</title>
</head>
<body>
<h1>Create new Song</h1>

<form method="POST" th:action="@{/song/list}" th:object="${addsong}">
    <h4>Create new Song</h4>


    <a>Song name</a>
    <input type="text" th:field="*{songName}"/>
    <a>Song Aurhor</a>
    <input type="text" th:field="*{songAuthor}"/>
    <a>Song text</a>
    <input type="text" th:field="*{songText}"/>
    <a>Song chords</a>
    <div th:each="chord : ${chords}">
        <span th:text="${chord.name}"></span>
        <input type="checkbox" th:field="*{chords}" th:value="${chord.id}" >
<!--                       th:text="${chord.name}">-->
    </div>
<!--        <input type="text" th:field="*{chords}"/>-->


    <button type="submit">Wyslij</button>


</form>

</body>
</html>