<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit song</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <input type="button" class="btn btn-lg btn-success" onclick="location.href='/';" value="Home page" />

</div>
<h1>Edit song</h1>

<form method="POST" th:action="@{/song/edit/{id}(id=${editsong.id})}" th:object="${editsong}">
    <h4>Edit song</h4>

    <input type="hidden" th:field="${id}">
    <a>Song name</a>
    <input type="text" th:field="*{name}"/>
    <a>Song Aurhor</a>
    <input type="text" th:field="*{author}"/>
    <a>Song text</a>
    <input type="text" th:field="*{text}"/>
    <a>Song chords</a>
    <div th:each="chord : ${chords}">
        <span th:text="${chord.name}"></span>
        <input type="checkbox" th:field="*{chords}" th:value="${chord.id}" >
    </div>
    <button type="submit">Send</button>


</form>

</body>
</html>