<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Songs list</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container m2">
    <h1>Songs list</h1>
    <table border="1" class="table table striped table-responsive-md">
        <thead>
        <tr>
            <th>Song Name </th>
            <th>Song Author</th>
            <th>SongText</th>
            <th>Check it!</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <th th:text="${song.songName}"></th>
            <th th:text="${song.songAuthor}"></th>
            <th th:text="${song.songText}"></th>
<!--            <th th:text="${song.songChords}"></th>-->


            <td> <a th:href="@{song/onesong/{id}(id=${song.id})}"} class="btn  btn-primary">Check<a/>





        </tbody>
    </table>
</div>
</body>
</html>