<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Songs details</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<div class="container m2">
    <h1>Song details</h1>
    <table border="1" class="table table striped table-responsive-md">
        <thead>
        <tr>
            <th>Name </th>
            <th>Author</th>
            <th>Text</th>
            <th>Chords</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="onesong : ${onesong}">
            <td th:text="${onesong.name}"></td>
            <td th:text="${onesong.author}"></td>
            <td th:text="${onesong.text}"></td>

        </tbody>

    </table>
</div>
</body>
</html>